*.class

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

# Individual Files #
.classpath
.project
src/log4j.properties

# Other Files #
.settings/
target/
war/
src/META-INF
